@page "/"

<PageTitle>Index</PageTitle>

<h1>My project management online tool</h1>

<ProjectsList MyProjectsList="projectsList" />

@code
{
    private List<Project> projectsList;

    protected override void OnInitialized()
    {
        projectsList = new List<Project>()
        {
            new Project() { Id = 1, Name = "Project1", Description = "desc for project 1",  State = "Active", Owner = "Alexandre" },
            new Project() { Id = 2, Name = "Project2", Description = "desc for project 2",  State = "New", Owner = "Alexandre" },
            new Project() { Id = 3, Name = "Project3", Description = "desc for project 3",  State = "Closed", Owner = "Hélder" },
            new Project() { Id = 5, Name = "Project5", Description = "desc for project 4",  State = "Active", Owner = "Alexandre" }
        };
    }
  }
