@page "/projects/edit/{ProjectId:int}"

<h3>Edit Project</h3>

@if (project != null)
{
<ProjectForm Project="project" OnValidSubmit="Edit" />    
}

@code {

    [Parameter] public int ProjectId { get; set; }

    public Project project;

    protected override void OnInitialized()
    {
        project = new Project() { Id = ProjectId, Name = "MyEditProject", Description = "blabla", Owner = "AD", State = "Active" };
    }

    private void Edit ()
    {
        Console.WriteLine("Edit Method");
        Console.WriteLine($"Project Name {project.Name}");
    }
}