<EditForm Model="Customer" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">      
        <label>Customer Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Customer.Name"></InputText>
            <ValidationMessage For="@(() => Customer.Name)"/>
        </div>
    </div>
    <br />
    <button class="btn btn-success" type="submit">Save Changes</button>
</EditForm>

@code {

    [Parameter] public Customer Customer { get; set; }

    // Cascading parameter to invoke Create or Edit method
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
