<div>
    <a href="@customerURL">
        <p>@customerData.Name</p>
    </a>
</div>

@code {
    // Parameters
    [Parameter] public Customer customerData { get; set; }

    //Variables
    private string customerURL = string.Empty;

    protected override void OnInitialized()
    {
        customerURL = $"customer/{customerData.CustomerId}";
    }
}
