<div>
    <a href="@projectURL">
        <p>@projectData.Name</p>
    </a>
</div>

@code {
    // Parameters
    [Parameter] public Project projectData { get; set; }

    //Variables
    private string projectURL = string.Empty;

    protected override void OnInitialized()
    {
        projectURL = $"project/{projectData.Id}";
    }
}
